<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828885558937-n61m0s5dvprg91v9eqtvpveic1fa7icp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828885558937-n61m0s5dvprg91v9eqtvpveic1fa7icp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>828885558937-1vs7o1j40aqutlhjp564l9lhk95emfn4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuvMSpiPaX-pGD80CoTtGp_TGTu0ckIeo</string>
	<key>GCM_SENDER_ID</key>
	<string>828885558937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.net.garcez.chat</string>
	<key>PROJECT_ID</key>
	<string>chatflutter-76496</string>
	<key>STORAGE_BUCKET</key>
	<string>chatflutter-76496.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828885558937:ios:af435cf415434c8ba47a08</string>
	<key>DATABASE_URL</key>
	<string>https://chatflutter-76496.firebaseio.com</string>
</dict>
</plist>